@if(pageLoading)
{
    <GenericToolLoader Body="Cargando los elementos para la derivación del documento, por favor espere..."></GenericToolLoader>
}
else
{
    <MudStack Class="document-register-wrapper">
        <MudCard Elevation="0" Outlined="true" Class="tool-margin">
            <MudCardContent>
                <MudForm Model="documentDerivation" ValidationDelay="0" @ref="documentDerivationForm" Validation="@(DocumentDerivationValidator.ValidateValue)">
                    <MudGrid>
                        <MudItem xs="12" sm="12" md="5" lg="4" xl="4" Class="align-self-center">
                            <MudIcon Class="fa-solid fa-share-from-square large-icon" Color="Color.Primary"></MudIcon>
                            <MudText Typo="Typo.body2">Seleccione el usuario al cuál será entregado el documento para su procesamiento.</MudText>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="7" lg="8" xl="8">
                            <MudGrid>
                                <MudItem xs="12" sm="12" md="6" lg="7" xl="7">
                                    <div class="text-start text-sm-center mb-2">
                                        <MudText Typo="Typo.h6">Usuario emisor</MudText>
                                        <div class="d-flex">
                                            <MudAvatar Color="Color.Info" Image="@SessionAccount.GetClient().Profile" Alt="@SessionAccount.GetClient().Name.Substring(0)" />
                                            <MudText Typo="Typo.body1" Class="align-self-center pl-1">@SessionAccount.GetClient().Name @SessionAccount.GetClient().LastName</MudText>
                                        </div>
                                    </div>
                                </MudItem>
                                <MudItem xs="12" sm="12" md="6" lg="5" xl="5">
                                    <div class="text-start text-sm-center mb-2">
                                        <MudText Typo="Typo.h6">Rol</MudText>
                                        <MudText Typo="Typo.body1">@userRole!.Label</MudText>
                                    </div>
                                </MudItem>
                                <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                                    <div class="text-start text-sm-center mb-2">
                                        <MudText Typo="Typo.h6">Fecha de Derivación</MudText>
                                        <MudText Typo="Typo.body1">@currentDate</MudText>
                                    </div>
                                </MudItem>
                                <MudItem xs="12" sm="12" md="6" lg="7" xl="7">
                                    @if (WorkEnvironment.IsAssistantLastStep())
                                    {
                                        <div class="text-start text-sm-center mb-2">
                                            <MudText Typo="Typo.h6">Cliente</MudText>
                                            <MudText Typo="Typo.body1">@documentDerivation.UserTray.ToString()</MudText>
                                        </div> 
                                    }
                                    else
                                    {
                                        <UserTraySelect RoleId="@documentDerivation.ReceiverUserRole!.Id" UserTrayUpdate="UpdateUserTray"
                                                        UserTrayFor="@(() => documentDerivation.UserTray)"></UserTraySelect>
                                    }

                                </MudItem>
                                @if (!WorkEnvironment.IsAssistantLastStep())
                                {
                                    <MudItem xs="12" sm="12" md="6" lg="5" xl="5">
                                        <MudTextField Value="@documentDerivation.ReceiverUserRole!.Label" Label="Rol" Variant="Variant.Outlined"
                                                      Adornment="Adornment.End" AdornmentIcon="fas fa-building" AdornmentColor="Color.Primary" ReadOnly="true"></MudTextField>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="12" xl="12" Class="text-end">
                            <MudButton Color="Color.Secondary" Variant="Variant.Filled" Class="rounded-lg" OnClick="@(() => SendDocumentAsync())">Derivar</MudButton>
                        </MudItem>
                    </MudGrid>
                </MudForm>
            </MudCardContent>
        </MudCard>
    </MudStack>
}

