<div class="d-none">
    <table id="converted-pdf">
        <tbody>
            <tr>
                <th colspan="7">@complaintRequestContent.Title</th>
            </tr>
            <tr><td colspan="7"> </td></tr>
            <tr><td colspan="7">Código: @DocumentGenerator.DocumentCode</td></tr>
            <tr><td colspan="7"> Fecha de entrega:  @complaintRequestContent.DeliveryDate.ToString("dd/MM/yyyy") </td></tr>
            <tr><td colspan="7"> Nombre del cliente: </td></tr>
            <tr><td colspan="7"> @complaintRequestContent.ClientId</td></tr>
            <tr><td colspan="7">Descripción: </td></tr>
            <tr><td colspan="7"> @complaintRequestContent.Description</td></tr>
        </tbody>
    </table>
</div>

