<div class="div-form">
    @if (pageLoading)
    {
        <GenericPageLoader Body="Cargando los elementos para el registro de la solicitud, por favor espere..."></GenericPageLoader>
    }
    else
    {
        <MudForm @ref="requestForm" ValidationDelay="0" Model="resolution" Validation="@(ResolutionRegisterValidator.ValidateValue)">
            <MudTabs>
                <MudTabPanel Text="General">

                    <div class="field-container input-group-2 @(() => resolution.Content.Title)">
                        <MudTextField @bind-Value="@resolution.Content.Title" Class="text-field-style"
                                  Label="Titulo de la resolución" For="@(()=>resolution.Content.Title)"></MudTextField>
                    </div>

                    <div class="field-container input-group-2 @(() => resolution.Content.Description)">
                        <MudTextField @bind-Value="@resolution.Content.Description" Class="text-field-style"
                                  Label="Descripcion" For="@(()=>resolution.Content.Description)"></MudTextField>
                    </div>

                    <div class="field-container input-group-2 @(() => resolution.Content.Penalty)">
                        <MudTextField @bind-Value="@resolution.Content.Penalty" Class="text-field-style"
                                  Label="Sancion" For="@(()=>resolution.Content.Penalty)"></MudTextField>
                    </div>

                    <div class="field-container input-group-2 @(() => resolution.Content.AudienceStartDate)">

                        <MudDatePicker Label="Fecha de Inicio" @bind-Value="@resolution.Content.AudienceStartDate" For="@(()=>resolution.Content.AudienceStartDate)"></MudDatePicker>
                    </div>
                    <div class="field-container input-group-2 @(() => resolution.Content.AudienceEndDate)">

                        <MudDatePicker AllowInput="false" Label="Fecha de Fin" @bind-Value="@resolution.Content.AudienceEndDate" For="@(()=>resolution.Content.AudienceEndDate)"></MudDatePicker>
                    </div>

                    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                        <DocumentAnnex Annexes="files"></DocumentAnnex>
                    </MudItem>

                </MudTabPanel>

                <MudTabPanel Text="Participantes">

                    <div class="contenedor-Participants">
                        <div class="Title-paticipantes">
                            <div><span class="Title">Participantes de la resolucion</span></div>
                            <div class="icono" @onclick="@(addParticipant)">
                                <MudIcon Icon="add_circle_outline"></MudIcon>
                            </div>
                        </div>
                        @for (int i = 0; i < resolution.Content.Participants.Count; i++)
                        {
                            int index = i;
                            <div class="single-textfield-container">
                                <div class="field-container base-field input-group-2 @(() => resolution.Content.Participants[index].Name)">
                                    <MudTextField @bind-Value="@resolution.Content.Participants[index].Name" Class="text-field-style"
                                          Label="Ingrese una observación"
                                          For="@(()=>resolution.Content.Participants[index].Name)"></MudTextField>
                                </div>
                                <div class="base-icon" @onclick="@(() => removeParticipant(index))">
                                    <MudIcon Icon="remove_circle_outline"></MudIcon>
                                </div>
                            </div>
                        }
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="Subir Anexo">
                    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                        <DocumentAnnex Annexes="annexes"></DocumentAnnex>
                    </MudItem>
                    <div class="field-container">
                        <MudButton Color="Color.Success" Class="rounded-pill" OnClick="@(async() => await RegisterRequestAsync())">Registrar Ahora</MudButton>
                    </div>
                </MudTabPanel>
            </MudTabs>
        </MudForm>
    }
</div>