<div class="div-form">
    @if (pageLoading)
    {
        <GenericPageLoader Body="Cargando los elementos para el registro de la solicitud, por favor espere..."></GenericPageLoader>
    }
    else
    {
        <MudForm @ref="requestForm" ValidationDelay="0" Model="solicitorDossierRequest" Validation="@(SolicitorDossierRequestRegisterValidator.ValidateValue)">
        <MudTabs>
            <MudTabPanel Text="Datos de la solicitud de expediente de notario">

                    <div class="field-container input-group-2 @(() => solicitorDossierRequest.Content.Title)">
                        <MudTextField @bind-Value="@solicitorDossierRequest.Content.Title" Class="text-field-style"
                                  Label="Titulo del Oficio" For="@(()=>solicitorDossierRequest.Content.Title)"></MudTextField>
                </div>

                <div class="field-container input-group-2 @(() => solicitorDossierRequest.Content.Description)">
                    <MudTextField @bind-Value="@solicitorDossierRequest.Content.Description" Class="text-field-style"
                                  Label="Descripción de la solicitud" For="@(()=>solicitorDossierRequest.Content.Description)"></MudTextField>
                </div>

                <div class="field-container input-group-2 @(() => solicitorDossierRequest.Content.SolicitorId)">
                    <MudAutocomplete @bind-Value="@solicitorDossierRequest.Content.SolicitorId"
                                     Placeholder="Ingrese el Nombre del Notario" For="@(()=>solicitorDossierRequest.Content.SolicitorId)">
                        <ItemSelectedTemplate>
                            <strong>Notario: @context.Name @context.LastName  -  N° DNI: @context.DNI</strong>
                        </ItemSelectedTemplate>
                        <ItemTemplate>
                            <strong>Notario: @context.Name @context.LastName  -  N° DNI: @context.DNI</strong>
                        </ItemTemplate>
                        <NoItemsTemplate>
                            <span style="color:red;font-size:20px">NO SE ENCONTRARON RESULTADOS</span>
                        </NoItemsTemplate>
                    </MudAutocomplete>
                </div>


            </MudTabPanel>
            <MudTabPanel Text="Subir Anexo">
                    <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                        <DocumentAnnex Annexes="files"></DocumentAnnex>
                    </MudItem>
                    <div class="field-container">
                        <MudButton Color="Color.Success" Class="rounded-pill" OnClick="@(async() => await RegisterRequestAsync())">Registrar Ahora</MudButton>
                    </div>
            </MudTabPanel>
        </MudTabs>
    </MudForm>
    }
</div>